<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>edit your chat: <%= chat._id %> </p>
    <p>this chat was sent from <b> <%= chat.from %> </b> to  <b> <%= chat.to %> </b> </p>
    <form method="post" action="/chats/<%= chat._id%>?_method=put">
        <textarea name="msg" rows="15" cols="50" > <%= chat.msg %> </textarea>
        <br> 
        <button>Edit</button> 
    </form>
</body>
</html>