<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>Ejs file</h1>

               <!-- INTERPOLATION SYNTAX OF EJS -->
                            <!-- ejs page ko dynamic bnata so calculate krke value dega -->
                            <!-- syntax =>      <%=  %> -->
    <h3> <%= 5*4 %>  </h3>
    <h3> <%= 5+4 %>  </h3> 
    <h3> <%= 7-8 %>  </h3>
                                    <!-- ek array hai usme se 2nd index ka elmnt print kro -->
    <h3> <%= ["hello","raushan","John"] [2] %>  </h3>


    <h4>we are creating template and render this template</h4>
    <p>we are send a very big html file throughg ejs . send me chhota sa code response de skte bt render me bhut bara bara fileya response share kr skte</p>
</body>
</html>